<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jazzi.onlinestudy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 设置Toolbar中的内容，默认是程序名 -->
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <!-- 将背景图片融合进状态栏 -->
        <activity
            android:name=".ResourcesActivity"
            android:theme="@style/FruitActivityTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>

                <!-- 设置启动活动 -->
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="fullSensor" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity android:name=".ClassifyActivity" />
        <activity android:name=".MyLoveActivity" />
        <activity android:name=".SetIpActivity"></activity>
    </application>

</manifest>